.cask
.cask.*
history
eshell
ac-comphist.dat
auto-save-list
*.elc
.yas-compiled-snippets.el
/cacert.pem
ido.last
projectile-bookmarks.eld
themes
packages
tramp
url
network-security.data
elpa
lisp/local.el
